.fonctionnement {
    height: 440px;
    &__title {
        padding: 48px 80px 26px 20px;
    }
    &__main__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
}