.header {
    &__logo {
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__location { 
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}