/*----- Icones coeurs -----*/
@keyframes animationHeart {
    0% {
        transform: scale(0.2);
    }
    40% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
    }
    
    @keyframes animationHeartApres {
    0% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
    }