@use '../util/' as u;

/*----- Les Pages Menu -----*/
html {
    background-color: white;
}

.menuWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 1275px;
    top: 315px;
    z-index: 10;
    @include u.breakpoint(medium) {
        top: u.rem(490)
    }
    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        &--titre {
            font-family: u.$font-shirkhand;
            font-size: u.rem(28);
            line-height: u.rem(40.82);
            width: 341px;
            height: u.rem(27);
        }
        &--icon {
            cursor: pointer;
            overflow: visible;
            width: 22px;
            position: absolute;
            top: u.rem(8);
            right: u.rem(24);
            z-index: 10;
        }
    }
    &__box {
        width: u.rem(349);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: u.rem(12);
        &--title {
            height: 27px;
            text-transform: uppercase;
            font-weight: 300;
            line-height: u.rem(18.75);
            width: 275px;
        }
        &--borderLeft {
            border-bottom: 3px solid var(--btn-green-light);
            width: 40px;
            margin-top: 6px;
          }
    }
}


.background {
    background-color: var(--background-color);
    border-radius: 25px 25px 0 0;
    position: absolute;
    width: 375px;
    height: 1300px;
    left: calc(50% - 375px/2);
    top: 283px;
    z-index: 8;
    @include u.breakpoint(medium) {
        top: u.rem(439);
        left: calc(50% - 668px/2);
        width: u.rem(668);
        height: u.rem(1250);
    }
    @include u.breakpoint(large) {
        top: 440px;
        left: calc(50% - 1024px/2);
        width: u.rem(1024);
        height: u.rem(1225);
    }
}

.image {
    background-color: var(--white);
    background: center / 100% url('../images/restaurants/palette.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 275px;
    top: 63px;
    z-index: 0;
    @include u.breakpoint(medium) {
        height: 383px;
        top: 96px;
    }
    @include u.breakpoint(large) {
        height: u.rem(420);
        top: 40px;
    }
}

.footer {
    width: 100%;
}