@use '../util/' as u;

/*----- Les Pages Menu -----*/

.menuWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: u.rem(1275);
    top: u.rem(315);
    z-index: 10;
    @include u.breakpoint(medium) {
        top: u.rem(490)
    }
    &__title {
        position: relative;
        &--titre {
            font-family: u.$font-shirkhand;
            font-size: u.rem(28);
            line-height: u.rem(40.82);
            width: u.rem(341);
            height: u.rem(27);
        }
        &--icon {
            cursor: pointer;
            overflow: visible;
            width: u.rem(22);
            position: absolute;
            top: u.rem(8);
            right: u.rem(24);
            z-index: 10;
        }
    }
    &__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 u.rem(13);
        gap: u.rem(12);
        @include u.breakpoint(medium) {
            width: u.rem(634);
        }
        &--title {
            height: u.rem(27);
            text-transform: uppercase;
            font-weight: 300;
            line-height: u.rem(18.75);
            width: u.rem(275);
        }
        &--borderLeft {
            border-bottom: u.rem(3) solid var(--btn-green-light);
            width: u.rem(40);
            margin-top: u.rem(6);
          }
    }
}


.background {
    background-color: var(--background-color);
    border-radius: u.rem(25) u.rem(25) 0 0;
    position: absolute;
    width: 100%;
    max-width: u.rem(1024);
    height: u.rem(1300);
    top: u.rem(283);
    z-index: 8;
    @include u.breakpoint(medium) {
        top: u.rem(439);
    }
    @include u.breakpoint(large) {
        top: u.rem(440);
        left: calc(50% - u.rem(1024)/2);
        height: u.rem(1225);
    } 
}

.image {
    background-color: var(--white);
    background: url('../images/restaurants/palette.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: u.rem(275);
    top: u.rem(63);
    z-index: 0;
    @include u.breakpoint(medium) {
        height: u.rem(383);
        top: u.rem(96);
    }
    @include u.breakpoint(large) {
        height: u.rem(420);
        top: u.rem(40);
    }
}

.image1 {
    background: url('../images/restaurants/note.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: u.rem(275);
    top: u.rem(63);
    z-index: 0;
}

.image2 {
    background: url('../images/restaurants/francaise.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: u.rem(275);
    top: u.rem(63);
    z-index: 0;
}

.image3 {
    background: url('../images/restaurants/delice.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: u.rem(275);
    top: u.rem(63);
    z-index: 0;
}

.footer {
    width: 100%;
}