@import "../utils/variables";

body {
    background-color: $background-color;
}

a {
    color: $black-color;
}

.header__logo, .fonctionnement {
    background-color: $white-color;
}

.header__location {
    background-color: $location-light-grey;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.15) inset; 
}

button {
    background: linear-gradient(193.33deg, $btn-light-purple -11.44%, $btn-dark-purple 123.93%);
    color: $white-color;
}

.fonctionnement__btn {
    background-color: $background-color;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
    &__numberBox {
        background-color: $btn-dark-purple;
        &--number {
            color: $background-color;
        }
    }
    &__logo {
        color: $btn-icone-grey;
    }
    & .fa-store {
        color: $btn-dark-purple;
    }
}

.card {
    background-color: $white-color;
    &__nouveau {
        background-color: $btn-light-green;
        color: $btn-dark-green;
    }
}

footer {
    background-color: $footer-grey-color;
    color: $white-color;
}