@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

$roboto: 'Roboto', sans-serif;
$shrikhand: 'Shrikhand', cursive;

h1 {
    font-family: $shrikhand;
    font-size: 1.875em;
    margin: 0;
}

h2, h3, p, span, button {
    font-family: $roboto;
    margin: 0;
}

p {
    font-weight: 300;
}