@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

$roboto: 'Roboto', sans-serif;
$shrikhand: 'Shrikhand', cursive;

h1 {
    font-family: $shrikhand;
    font-size: 1.875em;
    margin: 0;
}

h2, h3, p, a, span, button {
    font-family: $roboto;
    margin: 0;
}

p {
    font-weight: 300;
}

a {
    text-decoration: none;
}

.header__location p {
    font-weight: 500;
}

.reservation__subtitle {
    font-size: 18px;
}


.fonctionnement__btn {
    &__numberBox {
        &--number {
            font-weight: 500;
            font-size: 0.886em;
        }
    }
    &__text {
        font-weight: 500;
    }
}

.card {
    &__nouveau {
        font-size: 14px;
        font-weight: 500;
    }
    &__title {
        font-size: 1.125em;
    }
    &__subtitle {
        font-size: 1.063em;
    }
}