/*----- Reset -----*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----- Couleurs -----*/
:root {
  --black: #000000;
  --white: #FFFFFF;
  --background-color: #F7F7F7;
  --background-grey-light: #EAEAEA;
  --background-grey-dark: #353535;
  --btn-purple-dark: #9356DC;
  --btn-purple-light: #FF79DA;
  --btn-icone-grey: #7E7E7E;
  --btn-green-light: #99E2D0;
  --btn-green-dark: #008766;
}

/* breakpoints small:375px, medium:700px, large:900px, xlarge:1440px */
@keyframes slidein {
  from {
    margin-left: 50%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes drop-in {
  from {
    transform: rotate(-180deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) translateY(0%);
    opacity: 1;
  }
}
/*----- Typographie -----*/
h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.758125rem;
}

h2 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.125rem;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  line-height: 1.64rem;
}

.reservez p {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.318125rem;
}

.card h3 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.318125rem;
}

.card p {
  font-weight: 300;
  font-size: 1.0625rem;
  line-height: 1.245rem;
}

/*----- Generale -----*/
a, a:visited, a:active {
  text-decoration: none;
  color: var(--white);
}

ul, li {
  list-style: none;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  min-width: 23.4375rem;
}

.container {
  width: calc(100% - 2.5rem);
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.footer__container {
  width: calc(100% - 3.125rem);
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

/*----- Header -----*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 11;
  background-color: var(--white);
  width: 100%;
  height: 3.9375rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  border-radius: 0rem;
}
@media (min-width: 48em) {
  .header {
    height: 6em;
    box-shadow: none;
  }
}
.header__link {
  position: absolute;
  left: 23px;
}
.header__logo {
  width: 10.125rem;
  height: 2.75rem;
}
@media (min-width: 48em) {
  .header__logo {
    width: 12.5rem;
  }
}
.header__location {
  background-color: var(--background-grey-light);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.125rem;
  margin-top: 3.9375rem;
}
@media (min-width: 48em) {
  .header__location {
    line-height: 1.171875rem;
    margin-top: 6rem;
  }
}

/*----- Reservez -----*/
.reservez {
  text-align: center;
}
.reservez__title {
  margin: 2.46875rem 3.625rem 0 2.625rem;
  padding-bottom: 1.125rem;
}
@media (min-width: 48em) {
  .reservez__title {
    font-size: 2.5rem;
    line-height: 2.93rem;
    margin: 1.875rem 0rem 0 0rem;
  }
}
.reservez__subtitle {
  margin-bottom: 1.6875rem;
}
@media (min-width: 48em) {
  .reservez__subtitle {
    margin-bottom: 1.9375rem;
  }
}
.reservez__btn {
  margin-bottom: 3.5625rem;
}
@media (min-width: 48em) {
  .reservez__btn {
    margin-bottom: 1.875rem;
  }
}

/*----- Fonctionnement -----*/
.fonctionnement {
  background-color: var(--white);
}
.fonctionnement__title {
  padding-top: 3rem;
  line-height: 1.758125rem;
}
@media (min-width: 48em) {
  .fonctionnement__title {
    padding-top: 3.125rem;
  }
}
.fonctionnement__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5625rem;
  padding-top: 1.625rem;
  padding-bottom: 4.25rem;
}
@media (min-width: 48em) {
  .fonctionnement__wrap {
    padding-top: 1.5625rem;
    padding-bottom: 3.125rem;
  }
}

/*----- Restaurants -----*/
.restaurants__title {
  padding-top: 3.375rem;
}
.restaurants__wrap {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1.125rem;
  padding-top: 1.75rem;
  padding-bottom: 4.125rem;
  /* animation-duration: 3s;
  animation-name: slidein; */
}
@media (min-width: 48em) {
  .restaurants__wrap {
    padding-bottom: 1.875rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 6.25rem;
    row-gap: 3.125rem;
  }
}

/*----- Footer -----*/
.footer {
  background-color: var(--background-grey-dark);
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.375rem 0;
}
@media (min-width: 48em) {
  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 1.875rem;
  }
}
.footer__title {
  color: var(--white);
  height: 1.6875rem;
  width: 8.5625rem;
  line-height: 1.171875rem;
}
@media (min-width: 48em) {
  .footer__title {
    width: 9.5625rem;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
}
@media (min-width: 48em) {
  .footer__list {
    flex-direction: row;
  }
}
.footer__list--grand {
  width: 11.875rem;
  height: 1.1875rem;
}
.footer__list--petit {
  font-weight: 400;
  width: 8.125rem;
  height: 1.25rem;
}

/*----- Loader -----*/
.loader {
  background: linear-gradient(120deg, var(--btn-green-light), var(--btn-green-dark));
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.2s 4s forwards;
  opacity: 0.95;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.loader__text, .loader__palette {
  font-size: 2.5rem;
  line-height: 64px;
  letter-spacing: 10px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 48em) {
  .loader__text, .loader__palette {
    font-size: 5rem;
  }
}
.loader__text span, .loader__palette span {
  font-family: "Shrikhand", cursive;
  color: var(--btn-green-dark);
  animation: moveLetters 3s ease-in-out;
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);
}

.loader__text span:nth-child(1) {
  animation-delay: 0.1s;
}

.loader__text span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader__text span:nth-child(3) {
  animation-delay: 0.3s;
}

.loader__text span:nth-child(4) {
  animation-delay: 0.4s;
}

.loader__text span:nth-child(5) {
  animation-delay: 0.5s;
}

.loader__text span:nth-child(6) {
  animation-delay: 0.6s;
}

.loader__text span:nth-child(7) {
  animation-delay: 0.7s;
}

.loader__text span:nth-child(8) {
  animation-delay: 0.8s;
}

.loader__palette span:nth-child(1) {
  animation-delay: 0.1s;
}

.loader__palette span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader__palette span:nth-child(3) {
  animation-delay: 0.3s;
}

.loader__palette span:nth-child(4) {
  animation-delay: 0.4s;
}

.loader__palette span:nth-child(5) {
  animation-delay: 0.5s;
}

.loader__palette span:nth-child(6) {
  animation-delay: 0.6s;
}

.loader__palette span:nth-child(7) {
  animation-delay: 0.7s;
}

.loader__palette span:nth-child(8) {
  animation-delay: 0.8s;
}

.loader__palette span:nth-child(9) {
  animation-delay: 0.9s;
}

.loader__palette span:nth-child(10) {
  animation-delay: 1s;
}

.loader__palette span:nth-child(11) {
  animation-delay: 1.1s;
}

.loader__palette span:nth-child(12) {
  animation-delay: 1.2s;
}

.loader__palette span:nth-child(13) {
  animation-delay: 1.3s;
}

.loader__palette span:nth-child(14) {
  animation-delay: 1.4s;
}

.loader__palette span:nth-child(15) {
  animation-delay: 1.5s;
}

@keyframes moveLetters {
  0% {
    transform: translateX(-9.375rem);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(9.375rem);
    opacity: 0.8;
  }
}
/*----- Boutons -----*/
.reservez__btn {
  display: inline-block;
  background: linear-gradient(193.33deg, var(--btn-purple-dark) -11.44%, var(--btn-purple-light) 123.93%);
  color: var(--white);
  padding: 0.8125rem 1.171875rem;
  line-height: 1.171875rem;
  text-align: center;
  box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.25);
  border-radius: 1.5625rem;
  transition: 300ms ease-out;
}
.reservez__btn:hover {
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
  transform: scale(1.1);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, var(--btn-purple-dark) -5.2%, var(--btn-purple-light) 110.74%);
  box-shadow: 0 0.25rem 0.9375rem 0 rgba(0, 0, 0, 0.35);
  border-radius: 1.5625rem;
}

.fonctionnement__btn {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--background-color);
  width: 19.375rem;
  height: 4.52375rem;
  box-shadow: 0 0.25rem 0.9375rem 0 rgba(0, 0, 0, 0.15);
  border-radius: 1.25rem;
  transition: all 500ms ease-in-out;
}
.fonctionnement__btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0.125rem 0.1875rem 0.9375rem var(--btn-purple-dark);
}
.fonctionnement__btn__numberBox {
  background-color: var(--btn-purple-dark);
  position: absolute;
  left: -0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.75rem;
}
.fonctionnement__btn__numberBox--number {
  font-size: 0.88625rem;
  color: var(--white);
  position: absolute;
  width: 0.954375rem;
  height: 0.909375rem;
  top: 0.318125rem;
  left: 0.5rem;
}
.fonctionnement__btn__logo {
  color: var(--btn-icone-grey);
  position: absolute;
  left: 2.09375rem;
}
.fonctionnement__btn__text {
  line-height: 1.171875rem;
  margin-left: 4.625rem;
  margin-right: 2.375rem;
}
.fonctionnement__btn .fa-store {
  color: var(--btn-purple-dark);
}

/*----- Cards -----*/
.card {
  background-color: var(--background-color);
  color: var(--black) !important;
  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0.25rem 0.9375rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.9375rem;
  transition: all 500ms ease-in-out;
}
.card:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0.125rem 0.1875rem 1.125rem var(--btn-green-dark);
}
.card__img {
  object-fit: cover;
  width: 102%;
  height: 14.4375rem;
  margin: -3.5625rem -0.1875rem -0.25rem -0.1875rem;
}
.card__nouveau {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 1.8125rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 0.8125rem;
  right: 1.3125rem;
  background-color: var(--btn-green-light);
  color: var(--btn-green-dark);
  font-size: 0.875rem;
}
.card__title {
  margin: 1rem 3.75rem 0.3125rem 0.8125rem;
}
.card__subtitle {
  margin: 0 5rem 0.75rem 0.8125rem;
}
.card__icon {
  position: absolute;
  bottom: 2.0625rem;
  right: 1.5625rem;
  background: url("../images/icon/heart.svg");
  background-repeat: no-repeat;
  height: 21px;
  width: 22px;
}
.card__icon:hover {
  background: url("../images/icon/heart-like.svg");
}

#clock-gradient {
  opacity: 0;
  display: inline-block;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

#clock-gradient:hover {
  opacity: 1;
}

.banner1 {
  position: relative;
  top: 63px;
  background-image: url("../images/restaurants/palette.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 17.1875rem;
}