.fonctionnement {
   display: flex;
   flex-direction: column;
   align-items: center;
   &__wrap {
       width: 375px;
       height: 440px;
       &--title {
        margin: 48px 80px 26px 20px;
       }
       &--box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin-left: 12px;
       }
   }
}
