@use '../util/' as u;
/*----- Fonctionnement -----*/

.fonctionnement {
    background-color: var(--white);
    &__title {
        padding-top: u.rem(48);
        line-height: u.rem(28.13);
        @include u.breakpoint(medium) {
            padding-top: u.rem(50);
        }
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: u.rem(25);
        padding-top: u.rem(26);
        padding-bottom: u.rem(68);
        @include u.breakpoint(medium) {
            padding-top: u.rem(25);
            padding-bottom: u.rem(50);
        }
    }
}