.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__wrap {
        width: 375px;
        margin-bottom: 66px;
    }
    &__title {
       margin: 54px 80px 28px 20px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }
}