@use '../util/' as u;

.restaurants {
    &__wrap {
        width: u.rem(375);
        margin-bottom: u.rem(66);
    }
    &__title {
       margin: u.rem(54) u.rem(80) u.rem(28) u.rem(20);
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: u.rem(18);
        animation-duration: 3s;
        animation-name: slidein;
    }
}