.reservez {
    text-align: center;
    &__title {
        margin: 39.5px 58px 0 42px;
        padding-bottom: 18px;
    }
    &__subtitle {
        font-size: 1.125em;
        font-weight: 300;
        margin: 0px 26px 27px 34px;
    }
    &__btn {
        margin: 0 75px 57px 82px;
    }
}