.reservation__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    width: 218px;
    height: 50px;
}

.fonctionnement__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 322.49px;
    height: 72.38px;
    border-radius: 20px;
    &__numberBox {
        position: absolute;
        left: -12px;
        height: 24px;
        width: 24px;
        border-radius: 12px;
        &--number {
            position: absolute;
            top: 5.09px;
            left: 8px;
        }
    }
    &__logo {
        position: absolute;
        left: 33.5px;
    }
    &__text {
        margin-left: 74px;
    }
}