@use '../util/' as u;

$white: #FFFFFF;
$btn-dark-purple: #9356DC;
$btn-light-purple: #FF79DA;
$btn-icone-grey: #7E7E7E;

.reservez__btn {
    display: inline-block;
    background: linear-gradient(193.33deg, $btn-light-purple -11.44%, $btn-dark-purple 123.93%);
    color: $white;
    padding: 0.81em;
    width: 13.6em;
    text-align: center;
    @include u.shadow(0.25em, 0.62em, 0.25, 1.56em);
    transition-property: transform;
    transition: transform 500ms ease-in-out;
    &:hover {
        transform: scale(1.15);
        background: linear-gradient(193.33deg, $btn-dark-purple -11.44%, $btn-light-purple 123.93%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
}

.fonctionnement__btn {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--background-color);
    width: 322.49px;
    height: 72.38px;
    @include u.shadow(4px, 15px, 0.15, 20px);
    transition-property: transform;
    transition: transform 500ms ease-in-out;
    &:hover {
        transform: scale(1.15);
    }
    &__numberBox {
        background-color: $btn-dark-purple;
        position: absolute;
        left: -12px;
        height: 24px;
        width: 24px;
        border-radius: 12px;
        &--number {
            font-size: 0.886em;
            color: $white;
            position: absolute;
            top: 5.09px;
            left: 8px;
        }
    }
    &__logo {
        color: $btn-icone-grey;
        position: absolute;
        left: 33.5px;
    }
    &__text {
        margin-left: 74px;
    }
    & .fa-store {
        color: $btn-dark-purple;
    }
}