@use '../util/' as u;

.reservez__btn {
    display: inline-block;
    background: linear-gradient(193.33deg, var(--btn-purple-light) -11.44%, var(--btn-purple-dark) 123.93%);
    color: var(--white);
    padding: u.rem(13);
    width: u.rem(218);
    text-align: center;
    @include u.shadow(u.rem(4), u.rem(10), 0.25, u.rem(25));
    transition-property: transform;
    transition: transform 500ms ease-in-out;
    &:hover {
        transform: scale(1.15);
        background: linear-gradient(193.33deg, var(--btn-purple-dark) -11.44%, var(--btn-purple-light) 123.93%);
        @include u.shadow(u.rem(4), u.rem(10), 0.25, u.rem(25));
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
}

.fonctionnement__btn {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--background-color);
    width: u.rem(322.49);
    height: u.rem(72.38);
    @include u.shadow(u.rem(4), u.rem(15), 0.15, u.rem(20));
    &__numberBox {
        background-color: var(--btn-purple-dark);
        position: absolute;
        left: u.rem(-12);
        height: u.rem(24);
        width: u.rem(24);
        border-radius: u.rem(12);
        &--number {
            font-size: u.rem(14.18);
            color: var(--white);
            position: absolute;
            top: u.rem(5.09);
            left: u.rem(8);
        }
    }
    &__logo {
        color: var(--btn-icone-grey);
        position: absolute;
        left: u.rem(33.5);
    }
    &__text {
        margin-left: u.rem(74);
    }
    & .fa-store {
        color: var(--btn-purple-dark);
    }
}