@use '../util/' as u;

/*----- Boutons -----*/
.reservez__btn, .btn__commander {
    display: inline-block;
    background: linear-gradient(193.33deg, var(--btn-purple-dark) -11.44%, var(--btn-purple-light) 123.93%);
    color: var(--white);
    padding: u.rem(13) u.rem(18.75);
    line-height: u.rem(18.75);
    text-align: center;
    @include u.shadow(u.rem(4), u.rem(10), 0.25, u.rem(25));
    transition: 300ms ease-out;
    &:hover {
        /* transform: matrix(1, 0, 0, -1, 0, 0); */
        transform: scale(1.10);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, var(--btn-purple-dark) -5.2%, var(--btn-purple-light) 110.74%);
        @include u.shadow(u.rem(4), u.rem(15), 0.35, u.rem(25));
    }
}

.fonctionnement__btn {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--background-color);
    width: u.rem(310);
    height: u.rem(72.38);
    @include u.shadow(u.rem(4), u.rem(15), 0.15, u.rem(20));
    transition: all 500ms ease-in-out;
    &:hover {
        transform: translateY(-0.2rem);
        box-shadow: u.rem(2) u.rem(3) u.rem(15) var(--btn-purple-dark);
    }
    &__numberBox {
        background-color: var(--btn-purple-dark);
        position: absolute;
        left: u.rem(-12);
        height: u.rem(24);
        width: u.rem(24);
        border-radius: u.rem(12);
        &--number {
            font-size: u.rem(14.18);
            color: var(--white);
            position: absolute;
            width: u.rem(15.27);
            height: u.rem(14.55);
            top: u.rem(5.09);
            left: u.rem(8);
        }
    }
    &__logo {
        color: var(--btn-icone-grey);
        position: absolute;
        left: u.rem(33.5);
    }
    &__text {
        line-height: u.rem(18.75);
        margin-left: u.rem(74);
        margin-right: u.rem(38);
    }
    & .fa-store {
        color: var(--btn-purple-dark);
    }
}