@use '../util/' as u;

/*----- Cards -----*/
.card {
    position: relative;
    overflow: hidden;
    width: 100%;
    @include u.shadow(u.rem(4), u.rem(15), 0.1, u.rem(15));
    transition: all 500ms ease-in-out;
    &:hover {
        transform: translateY(-0.2rem);
        box-shadow: u.rem(2) u.rem(3) u.rem(18) var(--btn-green-dark);
    }
    &__img {
        object-fit: cover;
        width: 102%; 
        height: u.rem(231);
        margin: u.rem(-57) u.rem(-3)u.rem(-4)u.rem(-3);
    } 
    &__nouveau {
        display: flex;
        justify-content: center;
        align-items: center;
        width: u.rem(80);
        height: u.rem(29);
        border-radius: u.rem(2);
        position: absolute;
        top: u.rem(13);
        right: u.rem(21);
        background-color: var(--btn-green-light);
        color: var(--btn-green-dark);
        font-size: u.rem(14);
    } 
    &__title {
        margin: u.rem(16) u.rem(60) u.rem(5) u.rem(13);

    }
    &__subtitle {
        margin: 0 u.rem(80) u.rem(12) u.rem(13);
    }
/*     &__icon {
        cursor: pointer;
        overflow: visible;
        width: u.rem(22);
        position: absolute;
        bottom: u.rem(33);
        right: u.rem(25);
        } */
    &__icon {
        position: absolute;
        bottom: u.rem(33);
        right: u.rem(25);
        background: url("../images/icon/heart.svg");
        height: u.rem(21);
        width: u.rem(22);
        &:hover {
            animation: animationHeart .5s linear forwards .25s;
            background: url("../images/icon/heart-like.svg");
            background-size: u.rem(22) u.rem(21);
        }
    }
} 

.menuCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: u.rem(69);
    position: relative;
    overflow: hidden;
    @include u.shadow(u.rem(4), u.rem(15), 0.1, u.rem(15));
    transition: box-shadow 0.3s;
    &:hover {
        @include u.shadow(u.rem(0), u.rem(30), 0.3, u.rem(15));
    }
    &__box {
        display: flex;
        padding: u.rem(15);
        align-items: flex-end;
        gap: u.rem(5);
        &--text {
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: flex-start;
            height: u.rem(42);
            gap: u.rem(5);
            & h4 {
                font-family: u.$font-roboto;
                line-height: u.rem(21.09);
            }
            & p {
                line-height: u.rem(17.63);
                font-weight: 300;
                font-size: u.rem(15);
            }
        }
        &--price {
            display: flex;
            align-items: flex-start;
            font-size: u.rem(15);
            position: absolute;
            right: u.rem(16);
            transition: margin-right 450ms ease-in-out;
        }
    }
    &__selectBtn {
        background-color: #99E2D0;
        border-radius: 0 u.rem(16) u.rem(16) 0;
        position: absolute;
        width: u.rem(59);
        height: u.rem(69);
        right: u.rem(-60);
        top: 0;
        transition: margin-right 450ms ease-in-out;
        &--check {
            position: absolute;
            top: u.rem(25);
            right: u.rem(20);
            transform: rotate(0);
            transition: transform 1s ease-in-out;
        }   
    }
    &:hover .menuCard__box--price {
        margin-right: u.rem(60);
    }

    &:hover .menuCard__selectBtn {
        margin-right: u.rem(60);
        &--check {
            animation: check-rotate 0.3s linear 0.1s;
        }
    }
}

.even {
    animation: showCardEven 1s cubic-bezier(0, 0.02, 0.28, 1.49);

}

.uneven {
    animation: showCardUneven 1s cubic-bezier(0, 0.02, 0.28, 1.49);

}