@use '../util/' as u;

$white-card: #FFF;
$black-card: #000;
$btn-green-light: #99E2D0;
$btn-green-dark: #008766;
$heart-purple-dark: #9356DC;
$heart-purple-light: #FF79DA;

.card {
    background-color: $white-card;
    color: $black-card;
    position: relative;
    overflow: hidden;
    @include u.shadow(4px, 15px, 0.1, 15px);
    transition-property: transform;
    transition: transform 500ms ease-in-out;
    &:hover {
        transform: scale(1.10);
    }
    &__img {
        object-fit: cover;
        width: 346px; 
        height: 231px;
        margin: -57px -3px -4px -3px;
    } 
    &__nouveau {
        font-size: 0.875em;
        background-color: $btn-green-light;
        color: $btn-green-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 80px;
        height: 29px;
        top: 13px;
        left: 251px;
        border-radius: 2px;
    } 
    &__title {
        font-size: 1.125em;
        margin: 16px 60px 5px 13px;

    }
    &__subtitle {
        font-size: 1.063em;
        font-weight: 300;
        height: 24px;
        margin: 0 80px 12px 13px;
    }
    &__icon {
        display: flex;
        align-items: center;
        position: absolute;
        width: 22px;
        height: 21px;
        bottom: 33px;
        right: 25px;
    }
}