@use '../util/' as u;
/*----- Cards -----*/

.card {
    background-color: var(--background-color);
    color: var(--black)!important;
    position: relative;
    overflow: hidden;
    width: 100%;
    @include u.shadow(u.rem(4), u.rem(15), 0.1, u.rem(15));
    transition: all 500ms ease-in-out;
    &:hover {
        transform: translateY(-0.6rem);
        box-shadow: u.rem(2) u.rem(3) u.rem(18) var(--btn-green-dark);
    }
    &__img {
        object-fit: cover;
        width: 102%; 
        height: u.rem(231);
        margin: u.rem(-57) u.rem(-3)u.rem(-4)u.rem(-3);
    } 
    &__nouveau {
        display: flex;
        justify-content: center;
        align-items: center;
        width: u.rem(80);
        height: u.rem(29);
        border-radius: u.rem(2);
        position: absolute;
        top: u.rem(13);
        right: u.rem(21);
        background-color: var(--btn-green-light);
        color: var(--btn-green-dark);
        font-size: u.rem(14);
    } 
    &__title {
        margin: u.rem(16) u.rem(60) u.rem(5) u.rem(13);

    }
    &__subtitle {
        margin: 0 u.rem(80) u.rem(12) u.rem(13);
    }
    &__icon {
        cursor: pointer;
        overflow: visible;
        width: 22px;
        position: absolute;
        bottom: u.rem(33);
        right: u.rem(25);
        }
    /* &__icon {
        position: absolute;
        bottom: u.rem(33);
        right: u.rem(25);
        background: url("../images/icon/heart.svg");
        background-repeat: no-repeat;
        height: 21px;
        width: 22px;
        &:hover {
            background: url("../images/icon/heart-like.svg");
        }
    } */
} 