@use '../util/' as u;
  
  svg .heart {
    transform-origin: center;
    animation: animationHeartApres .3s linear forwards;
  }

  .checkbox {
    display: none;
  }
  
  .checkbox:checked+label svg .heart {
    transform: scale(0.9);
    fill: url(#gradient);
    animation: animationHeart .3s linear forwards .25s;
    stroke: none;
  }