 @use '../util/' as u;
 
 /*----- Le Loader -----*/
 .loader {
  background: linear-gradient(120deg, var(--btn-green-light), var(--btn-green-dark)) ;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.1s 3s forwards;
  opacity: 0.95;
}

.loader__text {
  font-size: u.rem(40);
  letter-spacing: u.rem(4);
  display: flex;
  justify-content: space-between;
  @include u.breakpoint(medium) {
    font-size: u.rem(100);
    letter-spacing: u.rem(20);
  }
  span {
    font-family: u.$font-shirkhand;
    color: var(--btn-green-dark);
    animation: moveLetters 2s ease-in-out;
    position: relative;
    display: inline-block;
    opacity: 0;
    text-shadow: 0 u.rem(10) u.rem(15) rgba(0, 0, 0, 1); 
  }
}

@for $i from 1 through 8 {
  .loader__text span:nth-child(#{$i}) {
    animation-delay: $i * 0.1s;
  }
}