@use '../util' as u;

/* html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
} */

a, a:visited, a:active  {
    text-decoration: none;
    color: var(--white);
}

ul, li {
    list-style: none;
}

body  {
    background-color: var(--background-color);
    font-family: u.$font-roboto;
    font-weight: 500;
    min-width: u.rem(375);
}

.container {
    width: calc(100% - u.rem(40));
    max-width: u.rem(1024);
    margin-left: auto;
    margin-right: auto;
}