@use '../util' as u;

/*----- Generale -----*/
* {
    box-sizing: border-box;
}

a, a:visited, a:active  {
    text-decoration: none;
    color: var(--white);
}

.card a {
    color: var(--black);
}

ul, li {
    list-style: none;
}

body  {
    background-color: var(--background-color);
    font-family: u.$font-roboto;
    font-weight: 500;
    min-width: u.rem(375);
}

.grid {
    display: grid;
    width: calc(100% - u.rem(40));
    max-width: u.rem(1024);
    margin-left: auto;
    margin-right: auto;
}

.l-header .grid {
    max-width: 1440px;
}

.footer .grid {
    max-width: u.rem(1440);
    gap: u.rem(16);
    padding: u.rem(22) 0;
    @include u.breakpoint(medium) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-top: u.rem(64);
        padding-bottom: u.rem(30);
    }
}