:root {
    --black-color: #000000;
    --white-color: #FFFFFF;

    --background-color: #F6F6F6;
    --location-light-grey: #EAEAEA;
    --footer-grey-color : #353535;

    --btn-light-green: #99E2D0;
    --btn-dark-green: #008766;
    --btn-dark-purple: #9356DC;
    --btn-light-purple: #FF79DA;
    --btn-icone-grey: #7E7E7E;
}

header, .fonctionnement {
    background-color: var(--white-color);
}

.header__location {
    background-color: var(--location-light-grey);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15) inset; 
}

footer {
    background-color: var(--footer-grey-color);
    color: var(--white-color);
}