@use '../util' as u;

h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

a, a:visited, a:active  {
    text-decoration: none;
}

li {
    font-weight: 400;
}

h1, h4 {
    font-family: u.$font-shirkhand;
    font-weight: 400;
}

h1 {
    font-size: u.em(30);
}