$black-color: #000000;
$white-color: #FFFFFF;

$background-color: #F6F6F6;
$location-light-grey: #EAEAEA;
$footer-grey-color : #353535;

$btn-light-green: #99E2D0;
$btn-dark-green: #008766;
$btn-dark-purple: #9356DC;
$btn-light-purple: #FF79DA;
$btn-icone-grey: #7E7E7E;